In [ ]:
# importar pandas
import pandas as pd

In [ ]:
# Opcional: usa el pd.set_option() para mostrar todas las filas de un dataframe por defecto

# Crear un DataFrame

In [ ]:
# leer el archivo csv "bestsellers with categories" (data sobre los 50 libros m√°s vendidos de Amazon de 2009 a 2019.)

In [ ]:
# acceder al atributo shape

In [ ]:
# encontrar el tipo de data de cada columna

# Mostrar un DataFrame

In [ ]:
# mostrar primeras 5 filas de un dataframe

In [ ]:
# encontrar valores estadisticos de un dataframe (mean, std, min, max)

# Agregar una nueva Columna

In [ ]:
# Tu tarea es crear una columna llamada 'Critic Rating' que deberia tener numeros random enteros entre 1 y 4

# 1.importar numpy y crear 550 numeros random enteros entre 1 y 4


# 2.agregar nueva columna 'Critic Rating' al dataframe usando los numeros random creados


# Obs: Los numeros aleatorios en la columna 'Critic Rating' seran diferentes entre tu solucion y la mia, pero vamos a concetrarnos en el codigo en esta seccion.

In [ ]:
# mostrar 5 primeras filas

# Atributos, Metodos y Funciones Basicas

In [ ]:
# acceder al atributo "columns"

# Seleccionar 2 o Mas Columnas de un Dataframe

In [ ]:
# mover la columna 'Critic Rating' entre las columnas "User Rating" y "Reviews" Luego actualizar el dataframe

# Tip: Copiar y pegar los nombres de columna obtenidos con el atributo "columns" y reordenar los elementos usando [[]]

In [ ]:
# mostrar 5 primeras filas

# Operaciones en Dataframes

In [ ]:
# crear una columna llamada "Average Rating" usando la sigueinte formula: Average Rating = (User Rating + Critic Rating)/2

In [ ]:
# usar la funcion "round" para redondear los valores del dataframe a 1 decimal y actualizar el dataframe

# Contar Valores

In [ ]:
# contar elementos en columna "Genre" por categoria y devolver la frecuencia relativa

# Renombrar Columnas

In [ ]:
# renombrar columnas "User Rating," "Critic Rating" y "Average Rating" a "UR," "CR" y "AR" Luego actualizar el dataframe con el parametro "inplace"

In [ ]:
# mostrar 5 primeras filas

In [ ]:
# seleccionar solo columnas "Name", "Author", "UR", "CR", "AR" y "Year" y actualizar el dataframe

# Ordenar el dataframe

In [ ]:
# ordenar el dataframe en forma descendente segun las columnas "UR" y "CR"